{% extends 'base.html' %}

{% block title %} Lista Produto{% endblock %}
{% block content %}

     <div class="row justify-content-around">
        {%for k in produtos%}
            <div class="row">
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">{{ k.nome }}</h5>
                      <p class="card-text">R$ {{ k.valor }}</p>
                    <a href="#" class="btn btn-primary">Detalhes</a>
                  </div>
               </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
