{% extends 'base.html' %}
    {% block content %}
        <div class="row justify-content-around">
        {%for k in estoque%}
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">{{ k.produto.tipo_produto }}</div>
              <div class="card-body">
                <h5 class="card-title">{{ k.produto.nome }} </h5>
                <p class="card-text">Tamanho: {{ k.produto.tamanho }} </p>
                <p class="card-text">Quantidade: {{ k.quantidade }} </p>
              </div>
            </div>

        {% endfor %}
        </div>
    {% endblock %}
